﻿@RenderBody()
<!DOCTYPE html>
<html>

<style>
.w3-top{
    background-image: -moz-linear-gradient(skyblue, azure);
}  
</style>
<body>
<div class="w3-top" style:"margin-top:100px"> 
     <div class="w3-bar w3-border w3-bar w3-left-align w3-large w3-center "> 
      <a href="Index/#personal" class="w3-bar-item w3-button w3-large ">Personal Information</a>
      <a href="Index#workexperience"  class="w3-bar-item w3-button w3-large  ">Work Experience</a>
      <a href="Index#education"  class="w3-bar-item w3-button  w3-large ">Education</a>
      <a href="Index#achievement" class="w3-bar-item w3-button w3-large ">Achievements</a>
      <a asp-area="" asp-controller="Home" asp-action="Contact" class="fancybox fancybox.iframe w3-bar-item w3-button w3-large">Contact</a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
      <a class="w3-bar-item  w3-xlarge "></a>
      <a class="w3-bar-item  w3-xxlarge "></a>
    
      <a href="Index#" class="w3-bar-item w3-button w3-large" style:"right">Maria Fernanda Lopez</a>
      
    </div> 
</body>


</html>