﻿@{
    ViewData["Title"] = "Contact";
}
<style>
.formulario{
    width: 500px;
    max-width: 100%;
    margin:auto;
    margin-top: 50px;
    padding: 5px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}
.formulario__titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
}
.formulario__input, .formulario__label, .formulario__submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
    
}
.formulario__input{
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
    
}
.formulario__input:focus{
    outline: 1px solid rgba(0,0,0,0.7);
}
.formulario__input:focus + .formulario__label{
    margin-top: -135px;
}
.formulario__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
}
.formulario__submit{
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    margin-top: -135px;
}
body{
    background-image: -moz-linear-gradient(rgb(azure), rgb(skyblue));
}
</style>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact me</title>
        <link rel="stylesheet" href="estilo.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <form action="" class="formulario">
            <h1 class="formulario__titulo">Contact me</h1>
            <input type="text" class="formulario__input" title="Please provide your name" required>
            <label for=""
            class="formulario__label">Name</label>
            <input type="mail" class="formulario__input" title="Please enter a valid email" required>
            <label for=""
            class="formulario__label">Mail</label>
            <input type="text" class="formulario__input">
            <label for=""
            class="formulario__label">Phone number</label>
            <input type="text" class="formulario__input">
            <label for=""
            class="formulario__label">Message</label>
            <input type="submit"
            class="formulario__submit" value="Send">
        </form>
        <!-- <script type="text/javascript" src="form.js">
        </script> -->
    </body>


</html>