﻿<!DOCTYPE html>
<html>
<title>Maria Fernanda Lopez CV</title>
<binding protocol="http" bindingInformation="*:5000:myhostname" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 2px}

  

</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center " style="padding:50px 16px">
  <div class="degrade">
  <h1 class="w3-xlarge">MARIA FERNANDA LOPEZ</h1>
  <h1>Computer science engineer</h1>
  <img class="w3-row-padding" src="/images/IMG-20170809-WA0005.jpeg" alt="Me" width="1000" height="400">
  </div>
  
   
</header>

<!-- cv Grid -->
<div class="w3-row-padding " style="margin-bottom:128px">
  <div class="w3-half">
    <nav>
    <div class="w3-container" id="personal">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Computer science Engineer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Guatemala</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>lop17160@mail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1234-5678</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Visual Basic</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>C++</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>HTML</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:35%">35%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Spanish</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
          </div>
</nav>
  </div>

  <div class="w3-half">
   
<main>
    <div class="information" id="workexperience">
  <h2>WORK EXPERIENCE</h1><div class="w3-container">
          <h5 class="w3-opacity"><b>Customer Service Agent/24/7 Intouch-ICS</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2015-Jan 2016</h6>
          <p>Develop the agent of customer service position as a vacationer for Walmart.com account</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Sales/Cat Store</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2016-Dec 2016</h6>
          <p>Sales assistant at the Cat store in Miraflores</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Assistant of the Systems Engineering Department/Banca privada GyT</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2016-Oct 2016</h6>
          <p>240 hours of practice performing tasks related to computation and technology</p>
          <hr>
        </div>
        </div>

  <div class="information" id="education">

    <h2>EDUCATION</h2>
    <div class="w3-container">
          <h5 class="w3-opacity"><b>Colegio Bilingüe El Prado</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2006-2017</h6>
          <p>Primary and high school (2006-2014)</p>
          <p>Bachiller en Computación con Orientación Cientifica (2015-2016)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Universidad del Valle de Guatemala</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>LICENCIATURA EN INGENIERA EN CIENCIAS DE LA COMPUTACION Y TECNOLOGIAS DE LA INFORMACION</p>
          <hr>
        </div>
  </div>

  <div class="information" id="achievement">
    <h2>ACHIEVEMENTS</h2>
    <div class="w3-container">
          <h7 class="w3-opacity"><b>1st place in Academic Excellence of the promotion of 3rd Grade of primary</b></h7>
          
        </div>
        <div class="w3-container">
          <h7 class="w3-opacity"><b>1st place in Academic Excellence of the promotion of 4th Grade of primary</b></h7>
        </div>
       
        <div class="w3-container">
          <h7 class="w3-opacity"><b>1st place in Academic Excellence of the promotion of 5th Grade of primary</b></h7>
        </div>
        <div class="w3-container">
          <h7 class="w3-opacity"><b>1st place in Academic Excellence of the promotion of 6th grade of primary</b></h7>
        </div>
        <div class="w3-container">
          <h7 class="w3-opacity"><b>3er lugar en Excelencia Académica de la promoción de 4to Bachillerato</b></h7>
        </div>
        <div class="w3-container">
          <h7 class="w3-opacity"><b>3er lugar en Excelencia Académica de la promoción de 5to Bachillerato</b></h7>
        </div>
        <div class="w3-container">
          <h7 class="w3-opacity"><b>Classroom president, years 2007,2015 and 2016</b></h7>
        </div>
        <div class="w3-container">
          <h7 class="w3-opacity"><b>President of the Student Council 2016-2017</b></h7>
        </div>
        <div class="w3-container">
          <h7 class="w3-opacity"><b>Member of the Student Association of the Computer Science and IT career. - <span class="w3-tag w3-teal w3-round">Current</span></b></h7>
        </div>
  </div>

  
</main>
  </div>
</div>
  
<!-- End Page Content -->
</div>


<!-- Footer -->
<footer class="w3-container"> 
  <p1>21/01/2018</p1>
  
</footer>

</body>
</html>